
/******************** position ********************/

body {margin:0px;padding:0px;font-family:"微软雅黑";}
.fullscreen {position:fixed;width:100%;height:100%;}
.float_left {float:left;}
.display_none {display: none;}
#inputbar {position:fixed;width:320px;height:300px;left:350px;}

.info_text {width:105px;height:20px;line-height:20px;font-size:18px;float:left;text-align:right;}
.input {width:160px;height:20px;line-height:20px;font-size:18px;float:left;padding-left:20px;padding-right:20px;}
button {width:auto;height:30px;margin:0px;padding-left:10px;padding-right:10px;line-height:30px;font-size:16px;text-shadow:-1px -1px 1px #300;}
.button1 {margin:2px;width:40px;}
#search_month_text {line-height:30px;padding-left:10px;padding-right:10px;}
#search_type_view label{line-height:30px;}

#title {width:100%;text-align:center;font-size:40px;padding:20px 0px 20px 0px;}

.blockbar {width:938px;margin-left:20px;padding:10px;}

.div_line {width:938px;height:30px;padding-top:10px;}
#btn_raw_table {margin-left:20px;}
#btn_clear_data {margin-left:145px;margin-top:10px;}
#btn_add_data {margin-left:10px;}

table {width:960px;margin-top:70px;margin-left:20px;border-width:0px;}
td {text-align:center;}

#btn_base_data {float:left;}
#search_type_view {display:none;float:left;margin-left:10px;}
#search_month_view {display:none;float:left;}

/******************** style (base) ********************/
#cover {background:rgba(0,0,0,0.9);}
#inputbar {border:1px solid #000;background:#fff;}
.blockbar {border:1px solid #000;}

/******************** style (good) ********************/
body {color:#bbb;text-shadow:0px 0px 3px #bbb;}
.input {color:#bbb;}
.fullscreen {background-color:#000;background-image:url(bg.jpg);background-size:100% 100%;background-repeat:repeat-y;}
#cover {background:rgba(0,0,0,0.9);}
#inputbar {border:1px solid #000;background:#eee;color:#666;}
#inputbar .input {color:#666;}
input {background:rgba(0,0,0,0);border-width:0px;border-bottom:1px solid #bbb;outline:none;}
button {background:#e00;color:#fff;border-width:0px;}
#title {color:#ddd;text-shadow:0px 0px 5px #b00;}
.blockbar {border:1px solid #bbb;}
td {border-width:0px;border-bottom:1px solid #bbb;}
#inputbartitle {height:50px;line-height:50px;font-size:24px;text-align:center;color:#444;background:#bbb;margin-bottom:10px;}