body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    line-height: 15px;
    font-family: "微软雅黑", "黑体", serif;
    overflow: hidden;
    color: whitesmoke;
    background: black;
}

#window {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 1600px;
    height: 900px;
}

.full_screen {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 1600px;
    height: 900px;
    background-color: rgba(0, 0, 0, 0.97);
    display: none;
    z-index: 50;
}

#timestamp {
    position: absolute;
    right: 0;
    top: 0;
    color: rgba(255, 255, 255, 0.1);
}

#view_map {
    background-image: url(../img/map.jpg);
    display: block;
}

#view_character_create {
    background-image: url(../img/job/warrior.jpg);
}

.info_window {
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    max-width: 220px;
    color: whitesmoke;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.95);
    border: 3px ridge slategray;
    font-size: 12px;
    line-height: 22px;
    z-index: 100;
}

#view_bar {
    position: absolute;
    top: 830px;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 90;
}

.bar_icon {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 4px;
    float: left;
    background-size: 101%;
    background-position: center;
    border-radius: 12px;
    border: 3px solid gray;
}

.bar_icon:hover {
    box-shadow: 0 0 20px goldenrod;
}

#bar_map {
    background-image: url(../img/icon/inv_misc_map07.jpg);
}

#bar_equipment {
    background-image: url(../img/icon/garrison_building_salvageyard.jpg);
}

#bar_shop {
    background-image: url(../img/icon/inv_misc_coin_02.jpg);
}

#bar_bank {
    background-image: url(../img/icon/inv_misc_treasurechest04d.jpg);
}

#bar_talent {
    background-image: url(../img/icon/ability_marksmanship.jpg);
}

#bar_character {
    background-image: url(../img/icon/trade_archaeology_druidprieststatueset.jpg);
}

#bar_test {
    background-image: url(../img/icon/inv_misc_bomb_04.jpg);
    display: none;
}

#bar_setting {
    background-image: url(../img/icon/inv_gizmo_02.jpg);
    display: none;
}

button {
    padding: 0;
    margin: 0;
    font-weight: bolder;
    background-color: darkred;
    color: orange;
    text-shadow: -1px -1px black;
    border: 4px outset saddlebrown;
}

button:hover {
    color: goldenrod;
    border-color: goldenrod;
}

button:focus {
    outline: none;
}

button:active {
    border-style: inset;
}

.cell {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(30, 30, 30, 0.9);
    background-size: 100%;
    background-position: center;
    border: 2px ridge slategray;
}

.money_gold {
    margin-left: 3px;
    margin-right: 3px;
    color: gold;
    text-shadow: 1px 1px goldenrod;
}

.money_silver {
    margin-left: 3px;
    margin-right: 3px;
    color: silver;
    text-shadow: 1px 1px gray;
}

.money_copper {
    margin-left: 3px;
    margin-right: 3px;
    color: chocolate;
    text-shadow: 1px 1px saddlebrown;
}