#shop_view {
    position: absolute;
    width: 570px;
    height: 634px;
    top: 80px;
    left: 200px;
    color: whitesmoke;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 3px ridge slategray;
}

.shop_item {
    position: absolute;
    width: 258px;
    height: 78px;
    border-radius: 7px;
    border: 2px ridge slategray;
}

.shop_icon {
    position: absolute;
    width: 60px;
    height: 60px;
    margin: 7px;
    border-radius: 5px;
    background-color: rgba(30, 30, 30, 0.9);
    background-size: 115%;
    background-position: center;
    border: 2px ridge slategray;
}

.shop_name {
    position: absolute;
    height: 50px;
    top: 13px;
    left: 80px;
    font-size: 20px;
}

.shop_price {
    position: absolute;
    bottom: 8px;
    right: 10px;
    font-size: 20px;
}

#shop_items {
    position: absolute;
    width: 580px;
    height: 610px;
    top: 80px;
    left: 800px;
    padding: 12px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 3px ridge slategray;
}

#shop_pack_bag {
    position: absolute;
    top: 680px;
    left: 818px;
    width: 100px;
    height: 34px;
    border-radius: 5px;
    letter-spacing: 5px;
    border-width: 3px;
}

#shop_clear_bag {
    position: absolute;
    top: 680px;
    left: 930px;
    width: 100px;
    height: 34px;
    border-radius: 5px;
    letter-spacing: 5px;
    border-width: 3px;
}

#shop_money {
    position: absolute;
    height: 30px;
    top: 686px;
    right: 210px;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
}
