body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    line-height: 15px;
    font-family: "微软雅黑", serif;
    overflow: hidden;
    color: whitesmoke;
}

.full_screen {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 1600px;
    height: 900px;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
}

#view_map {
    background-image: url(../img/map.jpg);
    z-index: 50;
}

#view_battle {
    z-index: 60;
}

#view_equipment {
    z-index: 70;
}

#view_shop {
    z-index: 70;
}

#view_character {
    background-image: url("../img/job/warrior.jpg");
    z-index: 80;
}

.info_window {
    position: absolute;
    width: auto;
    height: auto;
    padding: 5px 20px 5px 10px;
    color: whitesmoke;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.95);
    border: 3px ridge slategray;
    z-index: 100;
}

#view_bar {
    position: absolute;
    top: 800px;
    left: 666px;
    height: 60px;
    width: auto;
    z-index: 90;
}

.bar_icon {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 6px;
    float: left;
    background-size: 115%;
    background-position: center;
    border-radius: 12px;
    border: 3px solid gray;
}

.bar_icon:hover {
    box-shadow: 0 0 20px goldenrod;
}

#bar_map {
    background-image: url(../img/icon/ability_spy.png);
}

#bar_equipment {
    background-image: url(../img/icon/inv_misc_bag_19.png);
}

#bar_shop {
    background-image: url(../img/icon/coin.png);
}

#bar_character {
    background-image: url(../img/icon/spell_shadow_shadowwordpain.png);
}

#bar_test {
    background-image: url(../img/icon/inv_misc_bomb_04.png);
    display: none;
}

#bar_setting {
    background-image: url(../img/icon/inv_gizmo_02.png);
    display: none;
}

button {
    padding: 0;
    margin: 0;
    font-weight: bolder;
    background-color: darkred;
    color: orange;
    text-shadow: -1px -1px black;
    border: 4px outset saddlebrown;
}

button:hover {
    color: goldenrod;
    border-color: goldenrod;
}

button:focus {
    outline: none;
}

button:active {
    border-style: inset;
}

.cell {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(30, 30, 30, 0.9);
    background-size: 100%;
    background-position: center;
    border: 2px ridge slategray;
}

.money_gold {
    margin-left: 3px;
    margin-right: 3px;
    color: gold;
    text-shadow: 1px 1px goldenrod;
}

.money_silver {
    margin-left: 3px;
    margin-right: 3px;
    color: silver;
    text-shadow: 1px 1px gray;
}

.money_copper {
    margin-left: 3px;
    margin-right: 3px;
    color: chocolate;
    text-shadow: 1px 1px saddlebrown;
}