#current_equipments {
    position: absolute;
    width: 368px;
    height: 634px;
    top: 80px;
    left: 180px;
    color: whitesmoke;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 3px ridge slategray;
}

#current_status_name {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 28px;
    font-weight: bold;
    font-size: 20px;
}

#current_status_job {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 58px;
    font-size: 16px;
    color: goldenrod;
}

#current_status_area_1 {
    position: absolute;
    top: 518px;
    left: 21px;
    font-size: 16px;
    line-height: 35px;
}

#current_status_area_2 {
    position: absolute;
    top: 518px;
    left: 192px;
    font-size: 16px;
    line-height: 35px;
}

#current_status_tab_1 {
    position: absolute;
    width: 104px;
    top: 80px;
    right: 916px;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px 10px 0 0;
    border-left: 3px ridge slategray;
    border-top: 3px ridge slategray;
    border-right: 3px ridge slategray;
}

#current_status_tab_2 {
    position: absolute;
    width: 104px;
    top: 80px;
    right: 810px;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px 10px 0 0;
    border-left: 3px ridge slategray;
    border-top: 3px ridge slategray;
    border-right: 3px ridge slategray;
}

.status_tab_click{
    height: 33px;
    border-bottom: 3px solid transparent;
}

.status_tab_normal{
    height: 30px;
    border-bottom: 3px solid slategray;
}

#current_status {
    position: absolute;
    width: 185px;
    padding-left: 25px;
    top: 116px;
    right: 810px;
    font-size: 16px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0 0 10px 10px;
    border-left: 3px ridge slategray;
    border-bottom: 3px ridge slategray;
    border-right: 3px ridge slategray;
}

.current_status_1 {
    height: 584px;
    padding-top: 17px;
    line-height: 23px;
}

.current_status_2 {
    height: 583px;
    padding-top: 18px;
    line-height: 24px;
}

#current_equipments_icon {
    position: absolute;
    left: 84px;
    top: 140px;
    width: 200px;
    height: 200px;
}

#current_items {
    position: absolute;
    width: 580px;
    height: 610px;
    top: 80px;
    right: 180px;
    padding: 12px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 3px ridge slategray;
}

#current_pack_bag {
    position: absolute;
    top: 680px;
    left: 826px;
    width: 100px;
    height: 34px;
    border-radius: 5px;
    letter-spacing: 5px;
    border-width: 3px;
}

#current_money {
    position: absolute;
    height: 30px;
    top: 686px;
    right: 210px;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
}

.equipment {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 2px;
    border-radius: 5px;
    background-color: rgba(30, 30, 30, 0.9);
    background-size: 100%;
    background-position: center;
    border: 2px ridge slategray;
}


.item {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 2px;
    border-radius: 5px;
    background-color: rgba(30, 30, 30, 0.9);
    background-size: 100%;
    background-position: center;
    border: 2px ridge slategray;
}

#current_equipments_1 {
    left: 20px;
    top: 20px;
}

#current_equipments_2 {
    left: 20px;
    top: 80px;
}

#current_equipments_3 {
    left: 20px;
    top: 140px;
}

#current_equipments_4 {
    left: 20px;
    top: 200px;
}

#current_equipments_5 {
    left: 20px;
    top: 260px;
}

#current_equipments_6 {
    left: 20px;
    top: 320px;
}

#current_equipments_7 {
    left: 20px;
    top: 380px;
}

#current_equipments_8 {
    left: 20px;
    top: 440px;
}

#current_equipments_9 {
    right: 20px;
    top: 20px;
}

#current_equipments_10 {
    right: 20px;
    top: 80px;
}

#current_equipments_11 {
    right: 20px;
    top: 140px;
}

#current_equipments_12 {
    right: 20px;
    top: 200px;
}

#current_equipments_13 {
    right: 20px;
    top: 260px;
}

#current_equipments_14 {
    right: 20px;
    top: 320px;
}

#current_equipments_15 {
    right: 20px;
    top: 380px;
}

#current_equipments_16 {
    right: 20px;
    top: 440px;
}

#current_equipments_17 {
    left: 125px;
    top: 440px;
}

#current_equipments_18 {
    right: 125px;
    top: 440px;
}
