#view_character_title {
    position: absolute;
    width: 100%;
    height: 60px;
    top: 30px;
    text-align: center;
    font-size: 60px;
    letter-spacing: 15px;
    font-weight: bolder;
    color: goldenrod;
    text-shadow: 0 0 5px orangered;
}

#view_job_1_choose {
    position: absolute;
    width: 608px;
    height: 604px;
    top: 180px;
    left: 140px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px ridge slategray;
}

.gray {
    /*grayscale(val):val值越大灰度就越深*/
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.job_1_icon {
    position: absolute;
    width: 200px;
    height: 200px;
}

#icon_warrior {
    top: 10px;
    left: 10px;
}

#icon_paladin {
    top: 10px;
    left: 215px;
}

#icon_hunter {
    top: 10px;
    left: 420px;
}

#icon_shaman {
    top: 215px;
    left: 10px;
}

#icon_druid {
    top: 215px;
    left: 215px;
}

#icon_rogue {
    top: 215px;
    left: 420px;
}

#icon_priest {
    top: 420px;
    left: 10px;
}

#icon_warlock {
    top: 420px;
    left: 215px;
}

#icon_mage {
    top: 420px;
    left: 420px;
}

.icon_1_select {
    margin: -8px;
    border-radius: 8px;
    border: 8px ridge goldenrod;
    box-shadow: 0 0 10px goldenrod;
}

.job_name {
    position: relative;
    width: 120px;
    height: 20px;
    text-align: center;
    font-size: 18px;
    color: goldenrod;
    text-shadow: 0 0 5px orangered;
}

#view_job_2_choose {
    position: absolute;
    width: 208px;
    height: 604px;
    top: 180px;
    left: 803px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px ridge slategray;
}

.job_2_icon {
    position: relative;
    width: 118px;
    height: 118px;
    margin: 40px 40px 65px 40px;
    background-size: 115%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
    border: 6px ridge slategray;
}

.icon_2_select {
    border: 6px ridge goldenrod;
    box-shadow: 0 0 20px goldenrod;
}

#view_job_info {
    position: absolute;
    width: 384px;
    height: 410px;
    top: 180px;
    left: 1066px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px ridge slategray;
}

#view_job_name {
    position: relative;
    height: 50px;
    line-height: 50px;
    top: 10px;
    left: 20px;
    text-align: left;
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: bolder;
    color: goldenrod;
    text-shadow: 0 0 5px goldenrod;
}

#view_job_info_1 {
    position: relative;
    width: 344px;
    height: 60px;
    padding: 20px;
    line-height: 30px;
    font-size: 20px;
    color: silver;
    text-shadow: 0 0 5px cornsilk;
}

#icon_job_skill_1 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 170px;
    left: 30px;
    margin: -4px;
    background-size: 102%;
    background-position: center;
    border-radius: 6px;
}

#info_job_skill_1 {
    position: absolute;
    width: 275px;
    height: 50px;
    top: 170px;
    left: 107px;
    line-height: 22px;
    font-size: 13px;
    color: silver;
    text-shadow: 0 0 1px cornsilk;
}

#icon_job_skill_2 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 255px;
    left: 30px;
    margin: -4px;
    background-size: 102%;
    background-position: center;
    border-radius: 6px;
}

#info_job_skill_2 {
    position: absolute;
    width: 275px;
    height: 75px;
    top: 250px;
    left: 107px;
    line-height: 22px;
    font-size: 13px;
    color: silver;
    text-shadow: 0 0 1px cornsilk;
}

#icon_job_skill_3 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 340px;
    left: 30px;
    margin: -4px;
    background-size: 102%;
    background-position: center;
    border-radius: 6px;
}

#info_job_skill_3 {
    position: absolute;
    width: 275px;
    height: 75px;
    top: 335px;
    left: 107px;
    line-height: 22px;
    font-size: 13px;
    color: silver;
    text-shadow: 0 0 1px cornsilk;
}

#view_name_info {
    position: absolute;
    width: 384px;
    height: 139px;
    top: 645px;
    left: 1066px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px ridge slategray;
}

#view_name_input_title {
    position: absolute;
    height: 30px;
    top: 25px;
    left: 25px;
    float: left;
    line-height: 30px;
    font-size: 26px;
    color: goldenrod;
    text-shadow: 0 0 1px orangered;
}

#view_name_input {
    position: absolute;
    width: 185px;
    height: 30px;
    line-height: 30px;
    font-size: 28px;
    padding-left: 10px;
    padding-right: 10px;
    top: 23px;
    left: 155px;
    border-radius: 5px;
    border: 3px solid dimgray;
    background-color: rgba(0, 0, 0, 0);
    color: silver;
}

#create_character {
    position: absolute;
    width: 160px;
    height: 50px;
    border-radius: 10px;
    top: 90px;
    left: 120px;
    font-size: 24px;
    letter-spacing: 5px;
}