#current_status {
    color: whitesmoke;
}

#current_equipments {
    position: absolute;
    width: 328px;
    height: 604px;
    top: 80px;
    left: 200px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 3px ridge slategray;
}

#current_equipments_icon {
    position: absolute;
    left: 64px;
    top: 120px;
    width: 200px;
    height: 200px;
}

#current_equipments_1 {
    left: 20px;
    top: 20px;
}

#current_equipments_2 {
    left: 20px;
    top: 70px;
}

#current_equipments_3 {
    left: 20px;
    top: 120px;
}

#current_equipments_4 {
    left: 20px;
    top: 170px;
}

#current_equipments_5 {
    left: 20px;
    top: 220px;
}

#current_equipments_6 {
    left: 20px;
    top: 270px;
}

#current_equipments_7 {
    left: 20px;
    top: 320px;
}

#current_equipments_8 {
    left: 20px;
    top: 370px;
}

#current_equipments_9 {
    left: 264px;
    top: 20px;
}

#current_equipments_10 {
    left: 264px;
    top: 70px;
}

#current_equipments_11 {
    left: 264px;
    top: 120px;
}

#current_equipments_12 {
    left: 264px;
    top: 170px;
}

#current_equipments_13 {
    left: 264px;
    top: 220px;
}

#current_equipments_14 {
    left: 264px;
    top: 270px;
}

#current_equipments_15 {
    left: 264px;
    top: 320px;
}

#current_equipments_16 {
    left: 264px;
    top: 370px;
}

#current_equipments_17 {
    left: 120px;
    top: 370px;
}

#current_equipments_18 {
    left: 176px;
    top: 370px;
}

#current_items {
    position: absolute;
    width: 580px;
    height: 580px;
    top: 80px;
    left: 800px;
    padding: 12px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 3px ridge slategray;
}

.item {
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    margin: 2px;
    border-radius: 5px;
    background-color: rgba(30, 30, 30, 0.9);
    background-size: 100%;
    background-position: center;
    border: 2px ridge slategray;
}
